* {
    align-items: center;
}

body {
    font-family: Montserrat;
    font-size: 16px;
    background-color: white;
    color: #AE7C78;
}

h2 {
    font-family: Playfair Display;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    line-height: 47,99px;
}

.wrapper {
    max-width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
}

.top-nav {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding-left: 0;
    margin: 0 auto;
    align-items: center;
}

.top-nav > li {
    margin-left: 10px;
    margin-right: 10px;
}

.top-nav > li > a {
    text-decoration: none;
    color: #AE7C78;
}

.about {
    display: flex;
    justify-content: stretch;
}

.big-text {
    font-family: Playfair Display;
    font-size: 44px;
}

.medium-text {
    font-size: 24px;
    line-height: 29px;
}

.benefits-info {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: column;
    padding: 30px; 
    align-items: center;
}

.button {
    font-size: 16px;
    border-radius: 40px;
    background-color: #D89999;
    color: white;
    
    border: 1px solid #000000;
    width: 285px;
    height: 80px;
}

.button > a {
    text-decoration: none;
    color: white;
}

.popular {
    text-align: center;
    justify-content: center;
}

.popular-card {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100% 0;
    width: 794px;
    padding: 25px;
    text-align: center;
    margin: auto;
}

.arrows {
    padding-top: 40px;
    padding-left: 250px;
}

.container {
    display: grid;
    grid-template-columns: 388px 388px 388px;
    justify-content: center;
    padding: 30px;
    margin: auto;
    column-gap: 20px;
}

.card {
    color: white;
    background: rgba(174, 124, 120, 0.6);
    border-radius: 10px;
    width: 387px;
    height: 442px;
    text-align: center;
    justify-content: center;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
}

.card > h2 {
    font-family: Playfair Display;
    font-size: 36px;
    font-weight: 700px;
    line-height: 47,99px;
    letter-spacing: 2%;
}

.card > p {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
}

#card-1 {
    background-image: url(files/fresh-beautiful-peony-flowers-vase\ 1.png);
}

#card-2 {
    background-image: url(files/sammi-sP5CaWEN7Do-unsplash\ 1.png);
}

#card-3 {
    background-image: url(files/alyssa-strohmann-tnpr-hPOta0-unsplash\ 1.png);
}

.discount {
    width: 1200px;
    height: 391px;
    border-radius: 0%;
    left: 120px;
    top: 2018px;
    margin-top: 50px;
    margin: auto;
    padding-left: 20px;
    color: white;
    background: #AE7C78;

    background-image: url(files/florist-makes-beautiful-bouquet-studio\ 1.png);
    background-repeat: no-repeat;
    background-size: width="590px" height="391px";
    background-position: right;
}

.disc-info > h2 {
    padding-top: 20px;
    font-family: Playfair Display;
    font-size: 44px;
    font-weight: 400;
    line-height: 58,65px;
}

.disc-info > p {
    padding: 10px;
    font-size: 24px;
    width: 488px;
    height: 118px;
}

.steps {
    padding: 40px;
    text-align: center;
}

.steps > h2 {
    font-family: Playfair Display;
    font-size: 36px;
    text-align: center;
}

.four_steps {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: column; 
}

.box {
    text-align: center;
    align-self: center;
}

.news {
    display: grid;
    width: 1200px;
    height: 460px;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
    margin: auto;
}

#news-text {
    grid-column: 1/1;
    grid-row: 1/2;
}

#news-picture-1 {
    grid-column: 2/2;
    grid-row: 1/1;
}

#news-picture-2 {
    grid-column: 2/2;
    grid-row: 3/3;
}

#news-picture-3 {
    grid-column: 3/3;
    grid-row: 1/4;
    width: 387px;
    height: 460px;
}

.social {
    display: inline-flexbox;
}

.reviews {
    text-align: center;
    border: 1px solid #AE7C78;
    box-sizing: border-box;
    margin: 25px;
}

.review-box {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: column;
    align-items: center;
}

.contacts {
    left: 222px;
    top: 3781px;
    width: 386px;
    height: 520px;
    background-color: #F7FAFC;
    box-shadow: 0px 4px 40px rgba(217, 217, 217, 0.3);
    border-radius: 12px;
}

.map {
    position: absolute;
    width: 1440px;
    height: 644.1px;
    left: 0px;
    top: 3729px;
    background-image: url(files/map.png);

}

.page-footer {
    background-color: #AE7C78;
    color: white;
    position: absolute;
    width: 1440px;
    height: 97px;
    left: 0px;
    top: 4373px;
}

.bottom-nav {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding-left: 0;
    margin: 0 auto;
    align-items: center;
}

.bottom-nav > li {
    margin-left: 10px;
    margin-right: 10px;
}

.bottom-nav > li > a {
    text-decoration: none;
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;
}